# IDE
/.idea/

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# MacOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# secret files
.env
.envrc

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn-error.log
